<div class="modal">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="valorInicial">Valor Inicial</label>
      <input pInputText id="valorInicial" [(ngModel)]="valorInicial" name="valorInicial" required />
    </div>
    <div class="form-group">
      <label for="prazoEmMeses">Prazo (meses)</label>
      <input pInputText id="prazoEmMeses" [(ngModel)]="prazoEmMeses" name="prazoEmMeses" required />
    </div>
    <button pButton type="submit" label="Calcular"></button>
    <button pButton type="button" label="Limpar valores" (click)="clearValues()"></button>
  </form>
  <p-panel header="Resultado" [toggleable]="true" [collapsed]="isPanelCollapsed">
    <div *ngIf="response">
      <p>Valor Bruto: {{ response.valorBruto }}</p>
      <p>Valor Líquido: {{ response.valorLiquido }}</p>
    </div>
  </p-panel>
</div>
